
    body {
            background-image: url("/HTB1RVpIXG67gK0jSZFHq6y9jVXad.webp");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
